return {
   mode = "i2c",
   i2c = {
      sda = 1,
      scl = 2,
      sla = 0x3c,
      drv = u8g.ssd1306_128x64_i2c
   },
   w = 128,
   h = 64,
   console = false                  -- take console (redirect all console-output to the display)
}
